@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto:wght@100&display=swap');:root {
    /* change the values below to your colors from your palette */
    --primary-color: #C79D55   ;
    --secondary-color: #284454 ;
    --accent1-color: #C79D55;
    --accent2-color: black;

    --heading-font: "Open Sans";
    --paragraph-font: Poppins, Arial, Helvetica;
    
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: black ;  /* headlines on a black background */ 
    --headline-color-on-color: black; /* headlines on a colored background */ 
    --paragraph-color-on-white: #BB2626; /* paragraph text on a red background */ 
    --paragraph-color-on-color: black; /* paragraph text on a colored background */ 
    --paragraph-background-color: #C79D55;
    --nav-link-color: black;
    --nav-background-color: #845151;
    --nav-hover-link-color: #C79D55;
    --nav-hover-background-color: #284454;
  }
html {
    background-image: linear-gradient(to bottom, gray, #284454);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    overflow: hidden scroll;
}
/* AJUSTAR EL ANCHO DE TODA LA PANTALLA - MAS COMPLETO */

header, main, footer {
    margin: 0 auto;
    overflow: hidden;
    max-width: 1000px;  
    box-shadow: 0 4px 10px black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: black;
}
h2 {
    margin-bottom: 0;
}
section ul, p {
    margin-top: 0;
}
/* AJUSTO LE DOY MAS ESPACIO EN BLANCO AL ULTIMO PARRAFO DE HOME PARA FINAL DE HOME */
section p {
    margin-bottom: 55px;
}
/* AJUSTAR EL ENCABEZADO - HEADER */
header {
    z-index: 10;
    display: flex;
    padding: 5px 1em;
    padding-top: 15px;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--accent2-color);
    background-color: var(--accent1-color);
    height: 80px;
}
header > div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: -30px;
}
/* AJUSTAR LOS ESPACIOS ENTRE HOME LEGAL INFO, ABOUT, SITE PLAN Y LEX LEGAL */
header > div > h1 {
    font-size: 1.9rem;
    padding-left: 0px;
    padding-right: 210px;
    color: var(--accent2-color);
}
header > div > img.web-logo {
    width: 150px;
    padding-top: 2%;
}
.s img{
    box-shadow: 1px 1px 20px rgba(0,0,0,0.7);
    transition: all 0.5s, left 1s;
    left: calc(79% - 200px);
    position: absolute;
    margin: 5px 0 0 0;
    height: 240px;
    width: 300px;
    padding: 0;
    max-width: 300px;
    margin-top: 0px;
    border-radius: 10px;
    border: 2px solid #ccc;
    border-left: 20px;
    box-shadow: 5px 5px 10px #284454;
}
nav {
    line-height: 2rem;
    text-align: center;
    font-size: 1.2rem;
}
nav>ul {
    list-style-type: none;
    display: flex;
    
}
nav a {
    padding: 1em;
    min-width: 70px;
    padding-bottom: calc(1em - 3px);
    border-bottom: solid 2px rgba(0,0,0,0);
}
nav a:link, nav a:visited {
    font-family: var(--heading-font);
    color: black;
    text-decoration: none;
    transition: all 0.5s;
}
nav a:hover {
    color: var(--accent1-color);
    text-shadow: 1px 1px #f5f5f570;
    background: var(--secondary-color);
    box-shadow: 0 0 10px var(--secondary-color);
}
nav a.at {
    border-bottom-color: black;
}

main {
    background-color: whitesmoke;
    position: relative;
    min-height: 100px;
    overflow: hidden;
    z-index: 9;
}
footer {
    background-color: var(--accent1-color);
    font-family: var(--paragraph-font);
    color: var(--accent2-color);
    position: relative;
    padding: 1em;
    z-index: 10;
}
p, span, ul, li {
    font-family: var(--paragraph-font);
    color: black;
}
p {
    padding: 1em;
}
section {
    padding: 5px 100px;
}
section:nth-of-type(1) {
    grid-template-columns: auto 350px;
    grid-gap: 10px;
    display: grid;
}
section:nth-of-type(1) > div {
    grid-row: 1;
}
section:nth-of-type(1) > div:nth-of-type(1) {
    grid-column: 2;
}
section:nth-of-type(1) > div:nth-of-type(2) {
    grid-column: 1;
}
section:nth-of-type(2) {
    grid-template-columns: 350px auto;
    grid-gap: 10px;
    display: grid;
}

/* AQUI SE PUEDE MODIFICAR--    padding-bottom: 0px; -- PARA DAR MAS ESPACIO ENTRE PARRAFOS E IMAGES .... */
section > div {
    padding: 0;
    margin: 0;
    padding-bottom: 0px; 
}
/* AJUSTA LAS IMAGENES TANTO EL ANCHO COMO EL PADDING, AND HEIGHT */
section > div > img, section.dif-grid > img {
    width: 330px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px #284454;
    height: 240px;  
}
section > h2, section > div > h2 {
    text-align: center;
    letter-spacing: 1px;
}

/* AJUSTA EL ANCHO DE LOS 3 TEXTOS  */
section > p, section > div > p {
    width: 105%;
    padding-left: 20px;   
}

#menu-click, nav.box-menu {
    display: none;
}
#toggler {
    position: absolute;
    left: -999px;
    top: -999px;
}

.social-link {
    width: 40px;
    transform: scale(0.9);
    transition: transform 0.1s;
}
.social-link:hover {
    transform: scale(1.1);
}
.social-link:active {
    transform: scale(0.9);
    transition: none;
}
.contact {
    margin-left: 15%;
}
.contact img {
    width: 20px;
    padding-top: 2px;
    padding-right: 5px;
    
}
.contact td {
    vertical-align: top;
}
.contact tr > td > a > img {
    transition: all 0.2s;
    
}
.contact tr:hover > td > a > img {
    transform: scale(1.5);
}
.contact tr > td > a:active > img {
    transform: scale(1.3);
    transition: none;
}

/* AQUI ANADI MARGIN RIGHT 0 PX APRA QUE SE VEA MEJOR */
.social {
    float: right;
    margin-right: 15px;
}
.indent {
    padding-left: 20px;
}
.less-indent:nth-child(1) {
    padding-left: 2px;
}

.hero-image {
    margin-bottom: 40px;
    position: relative;
    height: 250px;
    
}
.hero-image > .action {
    color: var(--secondary-color);
    background: rgba(0,0,0,0.4);
    top: calc(50% - 20px);
    transition: all 0.5s;
    animation: Action 2s;
    padding-bottom: 20px;
    padding: 10px 20px;
    left: 40px;
}

.action > h3 {
    color: var(--secondary-color);
}
.action .button {
    font-family: var(--paragraph-font);
    background-color: lightgray;
    color: var(--accent1-color);
    padding-bottom: 0.1em;
    text-decoration: none;
    padding: 0.4em 0.7em;
    border-radius: 3px;
    font-size: 14px;
}
.show-later {
    display: none;
}
.facts {
    font-family: var(--paragraph-font);
    list-style-type: '♦️  ';
    margin-bottom: -15px;
}
section.not-grid, div.photo-spotlight {
    display: block;
 
}

section.about {
    display: grid;
    grid-template-columns: 300px auto;
    margin-top: -40px;

    /*  esto sirve para dar ancho a la imagen de la segunda recata some things en ABOUT*/
    grid-gap: 50px;
}

/*  ABOUT------ */
.not-grid h2{
    padding-top: 35px;
}
.about img{
    padding: 10px;
    margin-top: 45px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px #284454;
    height: 240px;
    padding: 0px;
    max-width: 300px;
}

/* AQUI ORGANICE SOLO LAS IMAGENES QUE SON 2  */
.contract img {
    max-width: 300px;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.7);
    transition: all 0.5s, left 1s;
    left: calc(75% - 200px);
    position: absolute;
    margin: 50px;
    height: 240px;
    padding: 0;
    border: 2px solid #ccc;
    box-shadow: 5px 5px 10px #284454;
}   

/*  Con esto se puede bajar ADVISING  EN INDEX HOME*/
.contract {
    margin-top: 360px;
    
}

/* CON ESTO AJUSTO EL TEXTO DE INDEX ADVISING */
.contract p {
    width:90%;
    margin-top: 20px;
    
}

.contract h2{
    margin-bottom: 10px;
}
.grupo img {
    max-width: 300px;
    margin-top: 40px;
    padding: 0;
}
div.photo-spotlight {
    border: solid 1px gray;
    margin: 50px auto 10px auto;
    width: calc(100% - 200px);
    border-radius: 10px;
    position: relative;
    height: 300px;
}
div.photo-spotlight > div {
    width: 100%; height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0; left: 0;
    perspective: 800px;
    perspective-origin: center calc(50% + 20px);
}
div.photo-spotlight > div > img{
    box-shadow: 1px 1px 20px rgba(0,0,0,0.7);
    transition: all 0.5s, left 1s;
    left: calc(50% - 200px);
    border-radius: 4px;
    position: absolute;
    margin: 5px 0 0 0;
    height: 300px;
    width: 400px;
    border: none;
    padding: 0;
}
div.photo-spotlight img.img-l4 {
    left: calc(50% - 200px - 600px);
    transform-style: preserve-3d;
    transform: scale(0.55) rotate3d(0,1,0,60deg);
    transition: all 0s;
    z-index: 2;
}
div.photo-spotlight img.img-l3 {
    left: calc(50% - 200px - 500px);
    transform-style: preserve-3d;
    transform: scale(0.6) rotate3d(0,1,0,60deg);
    z-index: 3;
}
div.photo-spotlight img.img-l2 {
    left: calc(50% - 200px - 400px);
    transform-style: preserve-3d;
    transform: scale(0.65) rotate3d(0,1,0,60deg);
    z-index: 4;
}
div.photo-spotlight img.img-l1 {
    left: calc(50% - 200px - 300px);
    transform-style: preserve-3d;
    transform: scale(0.7) rotate3d(0,1,0,60deg);
    z-index: 5;
}
div.photo-spotlight img.img-mc {
    transform-style: preserve-3d;
    left: calc(50% - 200px);
    transform: scale(0.9);
    z-index: 6;
}
div.photo-spotlight img.img-r1 {
    left: calc(50% - 200px + 300px);
    transform-style: preserve-3d;
    transform: scale(0.7) rotate3d(0,1,0,-60deg);
    z-index: 5;
}
div.photo-spotlight img.img-r2 {
    left: calc(50% - 200px + 400px);
    transform-style: preserve-3d;
    transform: scale(0.65) rotate3d(0,1,0,-60deg);
    z-index: 4;
}
div.photo-spotlight img.img-r3 {
    left: calc(50% - 200px + 500px);
    transform-style: preserve-3d;
    transform: scale(0.6) rotate3d(0,1,0,-60deg);
    z-index: 3;
}
div.photo-spotlight img.img-r4 {
    left: calc(50% - 200px + 600px);
    transform-style: preserve-3d;
    transform: scale(0.55) rotate3d(0,1,0,-60deg);
    z-index: 2;
}
div.photo-spotlight img.img-r5 {
    left: calc(50% - 200px + 700px);
    transform-style: preserve-3d;
    transform: scale(0.5) rotate3d(0,1,0,-60deg);
    transition: all 0s;
    z-index: 1;
}
div.photo-spotlight button {
    border: solid 0.5px gray;
    background-color: white;
    font-family: var(--paragraph-font);
    top: calc(50% - 25px);
    transition: all 0.2s;
    border-radius: 100%;
    position: absolute;
    font-weight: bold;
    padding-top: 5px;
    font-size: 20px;
    outline: none;
    opacity: 0.6;
    height: 50px;
    width: 50px;
    z-index: 6;
}
div.photo-spotlight button:hover {
    opacity: 0.8;
    cursor: pointer;
}
div.photo-spotlight button:active {
    transform: scale(0.9);
    transition: none;
}
div.photo-spotlight button#go-left {
    left: -20px;
}
div.photo-spotlight button#go-right {
    right: -20px;
}
div.cover-header {
    background-image: url("../images/paper-fixed.jpg");
    background-position: top;
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
}
main.non-centered > div.cover-header + section, div.cover-header + section + section {
    display: block;
}
main.non-centered h2 {
    text-align: left;
}
ul {
    font-family: var(--paragraph-font);
    list-style-type: '♦️  ';
}
input[type="number"] {
    width: 2.5em;
}
form > section:nth-of-type(1) {
    width: auto;
}
form > section,
form > section:nth-of-type(1),
form > section:nth-of-type(2) {
    display: block;
}
#reservation-form {
    padding-bottom: 40px;
}

/* LEGAL INFO AJUSTA PARRAFOS */
section.dif-grid {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 200px auto;
    grid-gap: 40px;
    width: 78%;
}
section.dif-grid:nth-of-type(1) {
    grid-template-columns: 300px auto;
}
section.dif-grid:nth-of-type(1) > img {
    margin: 0;
}

section.dif-grid > div {
    padding-top: 0px;
}
/* ALINEA EL TEXTO principal (LEGAL INFO) DE THE CAREER  */
section.dif-grid p {
    margin-bottom: 190px;
    width: 86%;
    padding-left: 110px;
}
section.dif-grid h2 {
    padding-left: 31%;
    margin-top: -20px;
}

/* MARGIN- BOTTON AJUSTA ESPACIO EN BLANCO DEL FINAL -THE CAREER- INFO LEGAL */
section.df p{
    width: 54%;
    padding-left: 451px;    
    
}
section.df {
    width: 70%;
}
section.df h3{
    margin-top: 60px;
    margin-bottom: 5px;
    padding-left: 535px;
}
section.df img{
    box-shadow: 1px 1px 20px rgba(0,0,0,0.7);
    transition: all 0.5s, left 1s;
    right: calc(79% - 200px);
    position: absolute;
    margin: 5px 0 0 0;
    height: 240px;
    border: none;
    padding: 0;
    max-width: 300px;
    margin-top: 85px;
    border-radius: 10px;
    border: 2px solid #ccc;
    box-shadow: 5px 5px 10px #284454;
}

/* AJUSTAR TEXTO DEL TITULO THE CAREER AL MEDIO */
.s h3{
    padding-left: 150px;
    margin-bottom: 5px;
    margin-top: 0px;
}

section.dif-grid ul {
    margin-top: 0;
}
section.dif-grid:nth-of-type(even) {
    grid-template-columns: auto 200px;
}
section.dif-grid:nth-of-type(even) > img {
    grid-column: 2;
    grid-row: 1;
}
section.dif-grid:nth-of-type(even) > div {
    grid-column: 1;
    grid-row: 1;
}
section.amenities-grid {
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3 - 60px));
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
    width: auto;
}
section.amenities-grid > h2 {
    grid-column: 1 / span 3;
    grid-row: 1;
}
section.amenities-grid > div {
    box-shadow: 1px 1px 5px var(--primary-color);
    border: dashed 1px var(--accent1-color);
    border-radius: 10px;
    text-align: center;
    padding: 30px 5px;
}
section.amenities-grid > div > img {
    box-shadow: none;
    padding: 0;
    margin: 0;
    border: none;
    width: 50px;
}
/* FOOTER */
footer .social img {
    padding-top: 28px;
    /* ANCHO ICONOS FACE T */
    width: 15%;
    padding-left: 10px;   
}
footer h3 {
    color: #374044;
}

footer a {
    color: black;
    text-decoration: none;    
}
footer a:hover {
    color: #374044;   
}
footer p {
    padding-top: 55px;
    font-size: 1.1em;
    color: white;
    padding-left: 40px;
    width:20%;
}   
.bottom-copyright {
    padding-top: 20px;
    text-align: center;
    padding-left: 25px;
    width: 65%;
    font-size: 1.1em;
}
.bottom {
    padding-left: 50px;
    font-size: 1.1em;
}
footer p a:hover {
    text-decoration: underline;
}
footer {
    background-color:#C79D55;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    text-align: center;
}

/* rigth mueve la imagen der o izq */
section.dif-grid > img {
    margin-top: 0px;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.7);
    transition: all 0.5s, left 1s;
    right: calc(79% - 200px);
    position: absolute;
    height: 242px;
    padding: 0;
    max-width: 300px;
    border-radius: 10px;
    border: 2px solid #ccc;
    border-left: 0px;
    box-shadow: 5px 5px 10px #284454;
}

/* ABOUT CSS*/
/* Ajusta TOP DE ABOUT (ELIMINA LOS ESPACIOS EN BLANCO) */
.not-grid h3 {
    text-align: center;
    margin-top: 1%;
}
section h4{
    /* PUSE ESTO PARA QUE NO SE VEA EL PUNTO Y NO HAYAN ERRORES */
    color: white;   
    margin-bottom: -17px;
} 




/* CONTACT US */
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    margin-bottom: 90px;  
    margin-top: 90px;  
  }
  
  ul {
    list-style: none;
    padding: 0;
    /* margin: 20; */
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }

  #feedback {
    background-color: #dbaf5d;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}


@media screen and (max-width: 992px) {
footer .social img {
    /* ANCHO ICONOS FACE TWITTER */
    width: 25%;
    padding-left: 2px; 
}
footer h3 {
    color: #374044;
    font-size:medium;
}
footer a {
    color: black;
    text-decoration: none;   
}
footer a:hover {
    color: #374044;
}
footer p {
    padding-top: 50px;
    color: black;
    padding-left: 80px;
    font-size: 1.1rem;
    text-align: left;
}
.bottom-copyright{
    width: 100%;
    font-size: 1.1rem;
    text-align: left;
}
    header {
        z-index: 10;
        display: flex;
        padding: 5px 1em;
        padding-top: 0px;
        position: relative;
        text-align: center;
        align-items: center;
        justify-content: center;
        color: var(--accent2-color);
        background-color: var(--accent1-color);
        height: 180px;
    }
    header > div {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;    
    }  
    /* AJUSTAR ESPACIOS encabezado */
    header > div > h1 {
        font-size: 1.9rem;
        padding-left: 0px;
        padding-right: 20px;
        color: var(--accent2-color);
    }
    header > nav > ul >li{
        font-size: 1.2rem;
        padding-left: 25px;
        color: var(--accent2-color);
    }      
    header > div > img.web-logo {
        width: 100px;
        padding-top: 2%;
    }   
    header, main, footer {
        max-width: calc(100% - 2em);
    }
    .social {
        margin-right: 50px;
    }
    div.photo-spotlight {
        position: relative;
        padding-left: 0;
        padding-right: 0;
        transform: scale(0.9);
    }
    div.photo-spotlight > div {
        padding: 0;
    }
    section:nth-of-type(1), section:nth-of-type(2),
    section.about, div.photo-spotlight, header {
        display: block;
    }
    section img{
        margin-left: calc(50% - 290px / 2);
        width: 350px;
    }
    /* HOME CSS */
    .contract .c { 
        margin-left: calc(50% - 450px / 2);
        width: 450px;
        margin-top: 320px;
        text-align: center;
    }
    .contract img {
        margin-left: calc(50% - 835px / 2);
        width: 350px;
    }

    /* Legal info */
    section.dif-grid img{
        box-shadow: 1px 1px 20px rgba(0,0,0,0.7);
        transition: all 0.5s, left 1s;
        right: calc(79% - 330px);
        position: absolute;
        margin: 5px 0 0 0;
        height: 240px;
        border: none;
        padding: 0;
        max-width: 300px;
        border-radius: 10px;
        border: 2px solid #ccc;
        box-shadow: 5px 5px 10px #284454;
    }
    
    section.dif-grid {
        text-align:justify;
        padding-top: 100px;
        grid-template-columns: 200px auto;
        grid-gap: 0px; 
        width: 60%;
        padding-left: 30px;

    }
    section.dif-grid h2{
        width: 100%;
        padding-left: 100px;
        padding-top: 300px;  
        text-align: center;
    }

    section.dif-grid p {
        width: 100%;
        margin-right: 0px;
        text-align:justify;
        margin-bottom: 70px;
    }
    
    /* MARGIN- BOTTON AJUSTA ESPACIO EN BLANCO DEL FINAL -THE CAREER- INFO LEGAL */
    section.df p{
        width: 100%;
        padding-left:0px;
        padding-top: 20px;   
        text-align:justify;
    }
    section.df {
        width: 70%;        
    }
    section.df h3{
        width: 100%;
        padding-left:0px;
        padding-top: 300px;  
        text-align: center;
    }
    section.df img{
        box-shadow: 1px 1px 20px rgba(0,0,0,0.7);
        transition: all 0.5s, left 1s;
        right: calc(79% - 330px);
        position: absolute;
        margin: 5px 0 0 0;
        height: 240px;
        border: none;
        padding: 0;
        max-width: 300px;
        margin-top: 85px;
        border-radius: 10px;
        border: 2px solid #ccc;
        box-shadow: 5px 5px 10px #284454;       
    }
    
    /* AJUSTAR TEXTO DEL TITULO THE CAREER AL MEDIO */
    section.df img{
        box-shadow: 1px 1px 20px rgba(0,0,0,0.7);
        transition: all 0.5s, left 1s;
        right: calc(79% - 330px);
        position: absolute;
        margin: 5px 0 0 0;
        height: 240px;
        border: none;
        padding: 0;
        max-width: 300px;
        margin-top: 85px;
        border-radius: 10px;
        border: 2px solid #ccc;
        box-shadow: 5px 5px 10px #284454;    
    }
    
    .s h3{
        width: 100%;
        margin-left: -160px;
        padding-top: 350px;  
        text-align: center;
    }
    .s p{
        width: 90%;
        padding-left: 30px;
    }

    section.s {
        margin-bottom: 10px;
    }

    section.s img{
        box-shadow: 1px 1px 20px rgba(0,0,0,0.7);
        transition: all 0.5s, left 1s;
        left: calc(82% - 345px);
        margin: 5px 0 0 0;
        height: 240px;
        border: none;
        padding: 0;
        max-width: 300px;
        margin-top: 85px;
        border-radius: 10px;
        border: 2px solid #ccc;
        box-shadow: 5px 5px 10px #284454;
        }
}