

.logo {
    width: 350px;
    margin: -60px;
}

a {
    font-size: 4em;
    text-decoration: none;
    color: black;
}

h3 {
    color: rgb(155, 29, 29);
    font-size: 1.5em;
    margin: 50px;
    
}

