/* .main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}
#active {
    background-color: white;
    color: steelblue;
} */
img {
    width: 20%;
    display: block;
    margin: 0 auto;
    display: grid;
    border: 5px
    
}
main p {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    background-color: white;    
    
}
a {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    
}

h1 {
    text-align: center;
    font-size: 1.5em;
}
h2 {
    text-align: center;
    font-size: 1.5em;
    color: white;
}

h4 {
    text-align: center;
    font-size: 1.1em;
    color:  rgb(92, 92, 206);
    
}

h3 {
    text-align: center;
    font-size: 1em;
    color: white;

}
nav, footer {
    text-align: center;
    color: black;
    padding: 10px;
    
}
footer p {
    font-size: 20px;
    margin: 20px auto;
    
}

a:hover {
    color: black;
}

body {
    background-color:  white;
    
}
p {
    text-align: center;
    font-size: 1.5em;
    
}

div {
    
    
    height: 170px;
    overflow: visible;
    text-align: center;
    font-size: 1.1em;
    width: 20%;
    display: block;
    margin: 0 auto;
    display: grid;
    
  }


