h1, h2, h3, h4  {
    font-family: apple-system, BlinkMacSystemFont,"Segoe UI", serif;
    font-size: 1.5em;
}
body   {
    font-family: "Lato", Arial, Helvetica, Verdana, sans-serif;
}

.primary {
    background-color: #146CD2;
    margin: 20px;
    color: black;
}
.secondary {
    background-color: #ba4a6e;
    margin: 20px;
    color: white;
}
.tertiary {
    background-color: #FFFFFF;
    margin: 20px;
    color: black;
}
.colors {
    width: 100%;
    background-color: aqua;
    border: 2px solid black;
    text-align: center;
}

.map    {
    display: inline-block;
    background-color: #146CD2;
    margin: 40px;
    padding: 10px 20px;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: -10px;
}

.wireframe  {
    text-align: center;
    color: #146CD2;
    font-size: 1.5rem;
}